body {
	color: #2A2C05;
	background-color: #EFE0B9;
	font-size: 90%;
	line-height: 1;
	max-width: 45rem;
	padding: 1rem;
	margin: 0 auto;
}

a {
	color: #B7521E;
	text-decoration: none;
}

a:hover {
	text-decoration-line: underline;
}

.content {
	margin-bottom: 2rem;
 line-height: 1.5;
}

.site-nav .logo {
	display: block;
	font-weight: 600;
	padding-left: 0;
}

.post-snippet {
	margin-bottom: 1rem;
}

footer {
	text-align: center;
}

.home-posts li {
	margin-bottom: 1rem;
}

.markdown-body {
	blockquote {
		border-left: 0.25em solid #643B0F;
		padding: 0 1em;
	}
}

@media screen and (max-width: 48rem) {
	.site-nav,
	.main-menu {
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #643B0F;
		color: #E4B04A
	}
	
	a {
		color: #EFE0B9;
	}
	
	.markdown-body {
	blockquote {
		border-left: 0.25em solid #E4B04A;
	}
}
}