{{ $img := .img }}
{{ $alt := .alt }}
{{ $class := .class }}
{{ $lazy := .lazy }}
{{ $caption := .title }}

{{- $respSizes := slice "960" "1920" -}}

{{- with $src := resources.Get ($img) -}}
  {{- $divClass := "" -}}{{/* Init'g */}}
  {{- $imgClass := "lazy" -}}
  {{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}
  {{- $actualImg := $src.Resize "640x jpg" -}}
  <picture>
    <source
      type="image/webp"
      data-srcset="
        {{- with $respSizes -}}
          {{- range $i, $e := . -}}
          {{- if ge $src.Width . -}}
            {{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx%s" . " webp") ).RelPermalink }} {{ . }}w
          {{- end -}}
        {{- end -}}
      {{- end -}}"
      data-sizes="{{ $dataSzes }}"
    />
    <source
      type="image/jpeg"
      data-srcset="
        {{- with $respSizes -}}
          {{- range $i, $e := . -}}
            {{- if ge $src.Width . -}}
              {{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx%s" . " jpg") ).RelPermalink }} {{ . }}w
            {{- end -}}
        {{- end -}}
      {{- end -}}"\
      data-sizes="{{ $dataSzes }}"
    />
    <img class="{{ $imgClass }}"
      src="{{ $actualImg.RelPermalink }}"
      width="{{ $src.Width }}"
      height="{{ $src.Height }}"
      alt="{{ $alt }}"
      title="{{ .Title }}"
    />
  </picture>
{{- else -}}
<img extra="MISSING" src="{{ .Destination | safeURL }}"
  {{- with .Text }} alt="{{ . }}"{{ end -}}
  {{- with .Title }} title="{{ . }}"{{ end -}}
>
{{- end -}}